container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  03_init_data:
    command: "source /opt/python/run/venv/bin/activate && python manage.py loaddata initial_data.json"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "rentacoder_core.settings.development"
    "PYTHONPATH": "/opt/python/current/app/rentacoder_core:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: rentacoder_core/wsgi.py
