.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 5px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.input_label {
    margin-top: 10pt;
}

.input_password {
    margin-top: 10pt;
}

.submit_button {
    margin-top: 12pt;
}

.form-div {
    margin-top: 30pt;
}

.header {
    font-size: 20pt;
    margin-top: 50pt;
}

.message_zone li {
    padding-top: 12pt;
    margin-left: 32pt;
}