.input_label {
    margin-top: 10pt;
}

.input_password {
    margin-top: 10pt;
}

.submit_button {
    margin-top: 12pt;
}

.form-div {
    margin-top: 30pt;
}

.header {
    font-size: 20pt;
    margin-top: 50pt;
}

.message_zone li {
    padding-top: 12pt;
    margin-left: 32pt;
}