{% load staticfiles i18n %}

<!DOCTYPE html>
<html lang="en">
<head>

    {% block meta_tags %}
        <meta charset="UTF-8">
    {% endblock %}

    <title>
        {% block title %}Innuy{% endblock title%}
    </title>

    {% block stylesheets %}

    {% endblock stylesheets %}

    {% block javascript_top %}

    {% endblock javascript_top %}

    {% block extra_head %}
    {# This block exist to include stuff into the head without modify the base.html #}
    {% endblock extra_head %}
    </head>

<body>

    {% block content %}

    {% endblock content%}

</body>

</html>

{% block javascript_footer %}

{% endblock javascript_footer %}