{% extends 'views/base.html' %}
{% load bootstrap3 %}

{% block title %}Apply to Project{% endblock title %}

{% block content %}
    <div class="col-md-4 col-md-offset-4 header">
        <p>
            Fill the following data to apply to the project:
        </p>
    </div>
    <div class="col-md-4 col-md-offset-4 form-div">
        <form class="register_form form-vertical" action="{% url 'apply' project.id %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-lg btn-primary btn-block submit_button">
                    Submit
                </button>
            {% endbuttons %}
        </form>
    </div>
    <div class="col-md-4 col-md-offset-4 message_zone">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock content %}
