{% load staticfiles i18n %}
{% url 'register' as register_url %}
{% url 'login' as login_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta_tags %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    {% endblock %}

    <title>
        {% block title %}RentACoder{% endblock title %}
    </title>
    <link href="/static/img/favicon.ico" rel="icon"/>

    {% block stylesheets %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous"/>
    <!-- Base -->
    <link rel="stylesheet" href="/static/css/base.css"/>
    {% endblock stylesheets %}

    {% block javascript_top %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="/static/js/base.js"></script>
    {% endblock javascript_top %}
</head>

<body>
{% block header %}
<nav class="navbar navbar-default navbar-fixed-top navbar-expand-xs" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Rent A Coder</a>
        </div>
        <div class="collapse navbar-collapse">
            {% if authenticated %}
            <ul class="nav navbar-nav">
                <li><a href="{% url 'new_project' %}">New Project</a></li>
                <li><a href="{% url 'my_projects' %}">My Projects</a></li>
                <li><a href="{% url 'my_applications' %}">My Applications</a></li>
                {% if num_pending_scores > 0 %}
                    <li><a href="{% url 'scores' %}">Scores<span class="badge">{{ num_pending_scores }}</span></a></li>
                {% else %}
                    <li><a href="{% url 'scores' %}">Scores</a></li>
                {% endif %}
                <li><a href="{% url 'history' %}">History</a></li>
            </ul>
            <!--
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
            </form>
            -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/media/{{ user.avatar }}" style="width: 20px; height: 20px;">
                        <strong>{{ user.username }}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <img src="/media/{{ user.avatar }}" style="width: 90px; height: 90px;">
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>{{ user.username }}</strong></p>
                                        <p class="text-left small">{{ user.email }}</p>
                                        <p class="text-left">
                                            <a href="{% url 'my_profile' %}" class="btn btn-primary btn-block btn-sm">My
                                                Profile</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="{% url 'logout' %}" class="btn btn-danger btn-block">Sign out</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock header %}

{% block content %}

{% endblock content %}
</body>

</html>

{% block javascript_footer %}

{% endblock javascript_footer %}