{% extends 'views/base.html' %}
{% load bootstrap3 %}

{% block title %}Apply to Project{% endblock title %}

{% block content %}


    <div class="container col-md-6 col-md-offset-3">
        <div class="panel panel-primary" >
            <div class="panel-heading">Modify project:</div>
            <div class="panel-body">


                <div class="row">
                    <div class="col-sm-12">
                        <form class="register_form form-vertical" action="{% url 'edit' project.id %}" method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-lg btn-primary btn-block submit_button">
                                Submit
                            </button>
                        {% endbuttons %}
                    </form>


                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12"></div>
                </div>

                <div class="row">
                    <div class="col-sm-12"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12"></div>
                </div>




            </div>

        </div>
    </div>
{% endblock content %}
