{% extends 'views/base.html' %}

{% block title %}Project {{ project.title }}{% endblock title %}

{% block content %}
    <div class="container">
        {{ project.id }}<br>
        {{ project.title }}<br>
        {{ project.description }}<br>
        {{ project.openings }}<br>
        <form action="{% url 'apply' project.id %}">
            <button type="submit" class="btn btn-lg btn-primary btn-block submit_button">
                Apply for this Project
            </button>
        </form>
    </div>
{% endblock %}