{% extends "views/base.html" %}

{% block title %}Register{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/css/register.css"/>
{% endblock stylesheets %}

{% block header %}{% endblock %}

{% block content %}
    <div class="col-md-4 col-md-offset-4 header">
        <p>
            Fill the following form to register:
        </p>
    </div>
    <div class="col-md-4 col-md-offset-4 form-div">
        <form class="register_form form-vertical" action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit"/>
        </form>
    </div>
    <div class="col-md-4 col-md-offset-4 message_zone">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock content %}

{% block javascript_footer %}
    <script>
        function addStyleToForm() {
            $("form.register_form label").each(function () {
                var input = $(this);
                input.addClass('input_label');
            });
            $("form.register_form input[type=email]").each(function () {
                var input = $(this);
                input.addClass('form-control input_password');
            });
            $("form.register_form input[type=text]").each(function () {
                var input = $(this);
                input.addClass('form-control input_password');
            });
            $("form.register_form input[type=password]").each(function () {
                var input = $(this);
                input.addClass('form-control input_password');
            });
            $("form.register_form input[type=submit]").each(function () {
                var input = $(this);
                input.addClass('btn btn-lg btn-primary btn-block submit_button');
            });
        }
        $(document).ready(addStyleToForm());
    </script>
{% endblock javascript_footer %}