{% extends 'views/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 padding-top-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-xs-4">
                                    <h4><span class="fa fa-certificate" style="margin-right: 5px;"></span>Scores
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center" style="padding: 0;">
                        <div class="panel panel-danger" style="margin-bottom: 0;">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <div class="row">
                                        <h4>Pending</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                {% for score in pending_scores %}
                                    <div class="row">
                                        {% if score.coder == user %}
                                            <h4>Rate Project Owner {{ score.project.user }} of
                                                Project {{ score.project.title }}: </h4>
                                            <form class="register_form form-vertical"
                                                  action="{% url 'score_owner' score.id %}"
                                                  method="POST">
                                                {% csrf_token %}
                                                {{ score_form.score }}
                                                <button type="submit" class="btn btn-primary center-block">
                                                    Submit
                                                </button>
                                            </form>
                                        {% else %}
                                            <h4>Rate Coder <b>{{ score.coder }}</b> in Project
                                                <i>{{ score.project.title }}</i>:</h4>

                                            <form class="register_form form-vertical"
                                                  action="{% url 'score_coder' score.id %}"
                                                  method="POST">
                                                {% csrf_token %}
                                                {{ score_form.score }}
                                                <button type="submit" class="btn btn-primary center-block">
                                                    Submit
                                                </button>
                                            </form>
                                        {% endif %}
                                    </div>
                                {% empty %}
                                    <h4>You have no pending scores.</h4>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="panel-body text-center" style="padding: 0;">
                        <div class="panel panel-info" style="margin-bottom: 0;">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <div class="row">
                                        <h4>As Coder:</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                {% for score in coder_scores %}
                                    Project: <b>{{ score.project.title }}</b><br>
                                    {% if score.owner_score > 0 and score.coder_score > 0 %}
                                        <!--show full score-->
                                        Project Owner <b><i>{{ score.project.user }}</i></b> rated you: {{ score.coder_score }}<br>
                                        Your score for <b><i>{{ score.project.user }}</i></b> was: {{ score.owner_score }}
                                    {% elif score.owner_score == 0 %}
                                        <!--show pending score-->
                                        You need to rate Owner <b><i>{{ score.project.user }}</i></b> to see this score.<br>
                                    {% else %}
                                        <!--show pending score-->
                                        Project Owner <b><i>{{ score.project.user }}</i></b> hasn't rated you yet.<br>
                                        Your score for <b><i>{{ score.project.user }}</i></b> was: {{ score.owner_score }}
                                    {% endif %}
                                    <hr>
                                {% empty %}
                                    <h5>You have no scores yet.</h5>
                                {% endfor %}
                            </div>
                        </di v>
                        <div class="panel-body" style="padding: 0;">
                            <div class="panel panel-success" style="margin-bottom: 0;">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <div class="row">
                                            <h4>As Project Owner:</h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-body">
                                    {% for score in owner_scores %}
                                        Project: <b>{{ score.project.title }}</b><br>
                                        {% if score.owner_score > 0 and score.coder_score > 0 %}
                                            <!--show full score-->
                                            Coder <b><i>{{ score.coder }}</i></b> rated you: {{ score.owner_score }}<br>
                                            Your score for <b><i>{{ score.coder }}</i></b> was: {{ score.coder_score }}
                                        {% elif score.coder_score == 0 %}
                                            <!--show pending score-->
                                            You need to rate Coder <b><i>{{ score.coder }}</i></b> to see this score.<br>
                                        {% else %}
                                            <!--show pending score-->
                                            Coder <b><i>{{ score.coder }}</i></b> hasn't rated you yet.<br>
                                            Your score for <b><i>{{ score.coder }}</i></b> was: {{ score.coder_score }}
                                        {% endif %}
                                        <hr>
                                    {% empty %}
                                        <h5>You have no scores yet.</h5>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}